/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(36, 33, 33);
  color: #fff; 
}

nav {
  color: #fff;
  padding: 15px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  border: 1px solid rgb(97, 83, 83);
  padding: 13px;
  border-radius: 50px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

@media (max-width: 576px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
    margin-left: 250px;
  }
}

/* About Section */
.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 50px;
}

.about-text {
  flex: 1;
  padding: 20px;
  width: 40%; 
  max-width: 100%; 
  margin-bottom: 20px; 
}

.about-text h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.about-text p {
  margin: 20px 0;
}

.about-btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.about-image {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.bordered-text {
  padding: 25px 35px;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
}

.top-right {
  top: 200px;
  right: 200px;
}

.bottom-left {
  bottom: 80px;
  left: 150px;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

/* Responsive Design */
@media (max-width: 576px) {
  .about {
    padding: 20px; 
    display: flex;
    flex-direction: column;
  }

  .about-text {
    width: 100%; 
  }

  .about-image {
    margin-top: 20px;
  }

  .top-right {
    top: auto;
    right: auto;
    bottom: 250px;
    left: 10px;
  }

  .bottom-left {
    bottom: auto;
    left: auto;
    top: 20px;
    right: -10px;
  }
}

/* Habit Section */
.habit-section {
  padding: 50px;
  text-align: center;
}

.habit-section h2 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.habit-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #fff;
}

.habit-images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.habit-image {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.habit-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.habit-info {
  margin-top: 10px;
}

.habit-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff;
}

.habit-info p {
  font-size: 14px;
}

/* Responsive Design for Habit Section */
@media (max-width: 576px) {
  .habit-images {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .habit-image {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Two-Part Section */
.two-part-section {
  display: flex;
  padding: 50px;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgb(31, 53, 53);
  border-radius: 30px;
}

.two-part-section .left-side {
  flex: 1;
  padding: 20px;
}

.two-part-section .left-side h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.two-part-section .left-side p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.two-part-section .section-btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.two-part-section .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-part-section .right-side img {
  max-width: 300px;
  height: auto;
  border-radius: 30px;
}

/* Responsive Design for Two-Part Section */
@media (max-width: 576px) {
  .two-part-section {
    width: 100%;
    flex-direction: column;
    padding: 30px;
  }

  .two-part-section .left-side,
  .two-part-section .right-side {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .two-part-section .left-side h2 {
    font-size: 20px;
  }

  .two-part-section .left-side p {
    font-size: 14px;
  }
}
/* calculate section */

.calculator-title {
  text-align: center;
  margin: 0 auto;
  
}
.calculate-section {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
}
.input-section{
display: flex;
flex-direction: column;
align-items: center;
}

/*Responsive Design calculate section */
@media (max-width: 576px) {
    .calculate-section{
        flex-direction: column;
    }
  }
  .bmi-calculator-section {
    display: flex;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.chart-box, .input-box {
    background-color: #312828;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.bmi-calculator-chart h1, .bmi-calculator-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #8a7373;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #312b2b;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.input-group input, .input-group select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-group select.full-width {
    flex: 2;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

.button-group button:hover {
    background-color: #0056b3;
}
@media (max-width: 576px) {
  .bmi-calculator-section{
    flex-direction: column;
  }
  .full-width{
    width: 50px;
  }
}
.meet-our-team-section {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center; 
}

.meet-our-team-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.meet-our-team-section p {
  margin-bottom: 20px;
  font-size: 16px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member {
  position: relative;
  width: 100%;
  padding-bottom: 100%; 
  overflow: hidden;
}

.team-member img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.team-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 4px;
}

.team-info h2 {
  margin: 0;
  font-size: 18px;
}

.team-info p {
  margin: 0;
  font-size: 14px;
}
@media (max-width: 576px) {
  .team-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer-section {
  display: flex;
  justify-content: space-between;
  background-color: #141516;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.footer-part {
  flex: 1;
  padding: 0 20px;
}

.footer-part h2, .footer-part h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-part p {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-part ul {
  list-style: none;
  padding: 0;
}

.footer-part ul li {
  margin-bottom: 10px;
}

.footer-part ul li a {
  text-decoration: none;
  color: #ebeff5;
}

.footer-part ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .footer-section
  {
    flex-direction: column;
  }
}